<% if(!currentUser){ %>
  <div class="block">
    <div class="notification is-info">
      <div class="buttons is-centered">
        <a href="/login" class="button is-link"><img src="/icons/key-white.svg" class="svg-icon-small" />Login</a>
        <a href="/register" class="button is-link"><img src="/icons/user-plus-white.svg" class="svg-icon-small" />Register</a>
      </div>
    </div>
  </div>
<% } %>
<% if(currentUser){ %>
  <div class="block">
    <div class="notification is-info">
      <div class="buttons is-centered">
        <a href="/dashboard" class="button is-link"><img src="/icons/user-circle-white.svg" class="svg-icon-small" />Dashboard</a>
        <a href="/addcatch" class="button is-success"><img src="/icons/plus-white.svg" class="svg-icon-small" />Add Catch</a>
      </div>
    </div>
  </div>
<% } %>
