<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - fishingBakersfield</title>
<% include partials/header %>
<% include partials/loginbar %>
<div class="container">
<% include partials/message %>
    <div class="box">
        <div class="content">
            <p><i class="fa fa-child" style="font-size: 22px"></i> Welcome back, <%= currentUser.username %>! This is your account dashboard.</p>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h3><strong>Your Info:</strong></h3>
            <p><i class="fa fa-address-card"></i> Email: <%= currentUser.email %> <sup><a href="/changeemail"><i class="fa fa-pencil-square-o"></i></a></sup></p>
        </div>
    </div>
</div>
<% include partials/footer %>

