<!DOCTYPE html>
<html>
<head>
    <title>Not Found - fishingBakersfield</title>
<% include partials/header %>
<br>
<% include partials/message %>
<div class="container">
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Not Found!
      </h1>
      <h2 class="subtitle">
        Woops, it looks like the page you were looking for does not exist. If you would like to return to the home page, press 
        <a href="/">here</a>.
      </h2>
    </div>
  </div>
</section>

<% include partials/footer %>