<!DOCTYPE html>
<html>
  <head>
    <title>Bakersfield Fishing Links</title>
      <% include partials/header %>
        <% include partials/loginbar %>
          <div class="container">
            <% include partials/message %>
              <div class="box">
                <div class="content">
                  <h1><img src="/icons/link.svg" class="svg-icon-md"> Bakersfield Fishing Links</h1>
                    <p><strong>Guide Services:</strong></p>
                    <p><a href="https://www.kernriverflyfishing.com/instructional-classes-1.html">Kern River Fly Fishing</a></p>
                    <p><strong>Bait Shops:</strong></p>
                    <p><a href="https://www.tackleandrod.com/">Cope's Tackle and Bait Shop</a></p>
                    <p><a href="https://www.facebook.com/Bobs-Bait-Bucket-116841898371063/">Bob's Bait Bucket</a></p>
                    <p><a href="https://www.facebook.com/pages/Sierra-Gateway-James-Market/433168746709663">James Store</a></p>
                    <p><strong>Communities:</strong></p>
                    <p><a href="https://www.facebook.com/groups/704168819700934/">Until The Next Cast</a></p>
                    <p><strong>Trout Plants:</strong></p>
                    <p><a href="https://nrm.dfg.ca.gov/FishPlants/">Fish & Game Planting Schedule</a></p>
                </div>
              </div>
          </div>
<% include partials/footer %>
