<!DOCTYPE html>
<html>
<head>
    <title>Truxtun Lake Depth - fishingBakersfield</title>
<% include partials/header %>
<% include partials/loginbar %>
<div class="container">
  <% include partials/message %>
  <a class="button" href="/locations/5a69bb1475ca656d29a289d4"><i class="fa fa-arrow-left">&nbsp;</i>Truxtun Lake</a>
  <br>
  <br>
  <div class="box">
    <div class="content">
      <h1>How deep is Truxtun Lake?</h1>
      <p>According to elevation maps, Truxtun Lake is roughly 10-15 feet deep. It's a shallow lake.</p>
    </div>
  </div>
</div>
<% include partials/footer %>
