.svg-icon-xs {
  height: 10px;
  width: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.svg-icon-small {
  height: 16px;
  width: 16px;
  margin-left: 2px;
  margin-right: 2px;
}

.svg-icon-20 {
  height: 20px;
  width: 20px;
  margin-right: 1px;
}

.svg-icon-md {
  height: 25px;
  width: 25px;
  margin-right: 1px;
}

#noBM:not(:last-child) {
  margin-bottom: 0.1rem !important,
}

.sameLine {
  display: inline;
}

html {
   background-color: #eaeaea
}

@media screen and (min-width: 420px) {
.masonry {
    column-count: 2;
    column-gap: 1em;
}
}

.item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.nav-button-margin {
	margin-left: 5px
}

.selector-btn {
  width: 80%;
}

@media screen and (max-width: 700px) {
  .selector-btn {
	width: 100%;
  }
}

.button-img {
    float: left;
    width: 30px;
    height: 30px;
}
