<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
<%- include('../partials/header') %>
<div class="block">
      <div class="notification is-info">
        <p>Registering an account allows you to post your catches and share fishing tips with other anglers!</p>
      </div>
</div>
<br>
<div class="container">
<%- include('../partials/message') %>
<div id="errorCMsg" style="display: none">
  <article class="message is-warning" id="delete" style="margin-bottom: 1.5rem;">
    <div class="message-header">
      <p style="font-size: 19px"><img src="/icons/notice.svg" class="svg-icon-small" />Error</p>
      <button class="delete" onclick="hideMsg()" aria-label="delete"></button>
    </div>
    <div class="message-body">
      CAPTCHA must be checked.
    </div>
  </article>
</div>
    <div class="columns is-centered">
        <article class="message is-info">
            <div class="message-header">
                <p>Register an account:</p>
            </div>
            <div class="message-body">
    <form action="/register" method="POST">
        <div class="field">
          <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" style="width: 300px" placeholder="youremail@gmail.com" name="email" maxlength="40" required>
		<span class="icon is-left">
		<img src="/icons/email2.svg" class="svg-icon-small" />
		</span>
              </div>
        </div>
        <div class="field">
          <label class="label">Desired Username</label>
              <div class="control has-icons-left">
                <input class="input" type="text" style="width: 300px" placeholder="Username" name="username" maxlength="15" required>
		<span class="icon is-left">
		<img src="/icons/user.svg" class="svg-icon-small" />
		</span>
              </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input" type="password" style="width: 300px" placeholder="Password" name="password" maxlength="30" required>
		<span class="icon is-left">
		<img src="/icons/lock.svg" class="svg-icon-small" />
		</span>
              </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
                <input type="checkbox" checked required>
                  I agree to the <a href="/terms">terms and conditions.</a>
            </label>
          </div>
        </div>
        <button onclick="return validateCaptcha()" class="button is-link"><img src="/icons/user-plus-white.svg" class="svg-icon-small" />Register</button>
    </form>
    </div>
    </article>
</div>
</div>
<%- include('../partials/footer') %>
