<!DOCTYPE html>
<html>
<head>
    <title>Terms & Conditions</title>
<%- include('../partials/header') %>
<br>
<%- include('../partials/message') %>
<div class="container">
  <a class="button" href="/register"><img src="/icons/arrow-left.svg" class="svg-icon-small">Register</a>
  <br>
  <br>
            <article class="message is-info">
                <div class="message-header">
                    <p>Terms and Conditions</p>
                </div>
                <div class="message-body">
                    <div class="content">
                        <h1>Introduction</h1>
                        <p>These Website Standard Terms And Conditions (these "Terms" or these "Website Standard Terms And Conditions")
                        contained herein on this webpage, shall govern your use of this website, including all pages within this website
                        (collectively referred to herein below as this "Website"). These terms apply in full force and effect to your use
                        of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full.
                        You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.</p>
                        <p>This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must
                        not use this Website if you are a minor.</p>

                        <h1>No Warranties</h1>
                        <p>This Website is provided "as is," with all faults, and fishingBakersfield makes no express or implied
                        representations or warranties, of any kind related to this Website or the materials contained on this Website.
                        Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.
                        You are responsible for verifying that any information or legal advice is correct with the proper
                        governing agencies/orginizations.</p>
                        <p>Whilst we attempt to edit or remove any messages containing inappropriate, sexually orientated, abusive,
                        hateful, slanderous, or threatening material that could be considered invasive of a person's privacy, or which
                        otherwise violate any kind of law, it is impossible for us to review every message posted on fishingBakersfield.
                        For this reason you acknowledge that all messages posted on this Website express the views
                        and opinions of the original message author and not necessarily the views of fishingBakersfield. Therefore,
                        we take no responsibility and cannot be held liable for any messages posted. We do not vouch for or warrant
                        the accuracy and completeness of every message.</p>

                        <h1>Submitting Content/Media</h1>
                        <p>By registering on fishingBakersfield you agree that you will not post any material which is knowingly
                        false, inaccurate, abusive, hateful, harassing, sexually orientated, threatening or invasive of a person's
                        privacy, or any other material which may violate any applicable laws.</p>
                        <p>Failure to comply with these rules may result in the termination of your account, account suspension,
                        or permanent ban of access to fishingBakersfield. Your IP Address is recorded with each post you make on
                        fishingBakersfield and is retrievable by the staff if need-be. You agree that we have the ability and right
                        to remove, edit, or lock any account or message at any time should it be seen fit. You also agree that any
                        information you enter on fishingBakersfield is stored in a database, and that "cookies" are stored on your
                        computer to save your login information.</p>

                        <h1>Limitation of Liability</h1>
                        <p>In no event shall fishingBakersfield, nor any of its officers, directors and employees, be liable to you for
                        anything arising out of or in any way connected with your use of this Website, whether such liability is under
                        contract, tort or otherwise, and fishingBakersfield, including its officers, directors and employees shall not be
                        liable for any indirect, consequential or special liability arising out of or in any way related to your use of
                        this Website.</p>

                        <h1>Indemnification</h1>
                        <p>You hereby indemnify to the fullest extent fishingBakersfield from and against any and all liabilities, costs,
                        demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way
                        related to your breach of any of the provisions of these Terms.</p>

                        <h1>Severability</h1>
                        <p>If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such
                        unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such
                        provisions shall be deleted without affecting the remaining provisions herein.</p>

                        <h1>Variation of Terms</h1>
                        <p>fishingBakersfield is permitted to revise these Terms at any time as it sees fit, and by using this Website you
                        are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing
                        use of this Website.</p>

                        <h1>Assignment</h1>
                        <p>fishingBakersfield shall be permitted to assign, transfer, and subcontract its rights and/or obligations under
                        these Terms without any notification or consent required. However, .you shall not be permitted to assign,
                        transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

                        <h1>Entire Agreement</h1>
                        <p>These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire
                        agreement between fishingBakersfield and you in relation to your use of this Website, and supersede all prior
                        agreements and understandings with respect to the same.</p>

                        <h1>Governing Law & Jurisdiction</h1>
                        <p>These Terms will be governed by and construed in accordance with the laws of the State of California, and you
                        submit to the non-exclusive jurisdiction of the state and federal courts located in California for the resolution
                        of any disputes.</p>

                    </div>
                </div>
             </article>
</div>

<%- include('../partials/footer') %>
